# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtualenv
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# DRF
*.pot

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.tox/

# Migrations (opcjonalnie, jeśli chcesz wersjonować)
# */migrations/0*.py

# Requirements
pip-wheel-metadata/
